.form {
  width: 500px;
  height: 100px;
  margin-top: -70px;
}

.form input {
  display: flex;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
}

textarea {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
}

.form button[type="submit"] {
  background: lightblue;
  border: 1px solid black;
  border-radius: 100px;
  padding: 15px;
  width: 100%;
}

.form button[type="submit"]:hover {
  background: lightslategray;
}
@keyframes shift-rightwards {
  0% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(0%);
  }
  60% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
